/* COMMON */

.row {
  margin: 50px 0;
  text-align: center;
  width: 100%;
}

.grey {
  background-color: #f9f9f9;
}

img {
  height: 150px;
}

h2 {
  font-size: 2vw;
  margin-bottom: 3%;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 4vw;
  }
}

/* Section Lezioni */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Section Steps */

@media all and (min-width: 768px) and (max-width: 991px) {
  .padding-md {
    padding: 3% 10%;
  }
  #steps img {
    height: 10vh;
  }
}

/* Section Why */

#why .row>.first, #why .row>.second, #why .row>.third {
  margin: 40px auto;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}